.git
.gitignore
.env
.env.example
node_modules
/public/build
/public/IMGCACHE
storage/logs/*.log
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
vendor
bootstrap/cache/*.php
tests
phpunit.xml
PRIVATEdoc.pdf
*.md
