*.log
.DS_Store
.env
.phpactor.json
.phpunit.result.cache
PRIVATEdoc.pdf


/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/app/private/mysql/
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
*:Zone.Identifier
public/IMGCACHE/
deploy.sh
.claude/
session-report-*.html
